<?xml version="1.0" encoding="utf-8"?>
<config>
	<params addpath="/administrator/components/com_clubmanagement/elements">
		<param name="custom1" type="text" default="Custom field 1" label="CUSTOM 1" description="CUSTOM 1 DESCRIPTION"/>
		<param name="custom2" type="text" default="Custom field 2" label="CUSTOM 2" description="CUSTOM 2 DESCRIPTION"/>
		<param name="custom3" type="text" default="Custom field 3" label="CUSTOM 3" description="CUSTOM 3 DESCRIPTION"/>
		<param name="custom4" type="text" default="Custom field 4" label="CUSTOM 4" description="CUSTOM 4 DESCRIPTION"/>
		<param name="custom5" type="text" default="Custom field 5" label="CUSTOM 5" description="CUSTOM 5 DESCRIPTION"/>
		<param name="image_dir" type="text" default="/images/member" label="IMAGE DIRECTORY" description="IMAGE DIRECTORY DESCRIPTION"/>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="member_types" type="text" default="ACTIVE=Active;PASSIVE=Passive;SUPPORTER=Supporter;SPONSOR=Sponsor" label="MEMBERSHIP TYPES" description="MEMBERSHIP TYPES DESCRIPTION"/>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="board_jobs" type="text" default="PRESIDENT=President;VICEPRESIDENT=Vice-President;TREASURE=Treasure;ACTUARY=Actuary;ASSESSOR=Assessor;CONTROLLER=Controller" label="BOARD JOBS" description="BOARD JOBS DESCRIPTION"/>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="detail_column_image" type="cmmembercolumn" columntype="view" default="" label="Detail Image Column" description="Detail Image Column description"/>
		<param name="detail_height" type="text" default="400" label="Detail Height" description="Detail Height DESCRIPTION"/>
		<param name="detail_width" type="text" default="500" label="Detail Width" description="Detail Width DESCRIPTION"/>
		<param name="detail_show_label" type="radio" default="0" label="Show Detail Label" description="Enable Detail Label Description">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="detail_css" type="textarea" default="" label="Detail CSS" description="Detail CSS description" rows="5" cols="50"/>
		<param name="detail_column_1" type="cmmembercolumn" columntype="view" default="" label="Detail Column 1" description="Detail Column 1 description"/>
		<param name="detail_column_2" type="cmmembercolumn" columntype="view" default="" label="Detail Column 2" description="Detail Column 2 description"/>
		<param name="detail_column_3" type="cmmembercolumn" columntype="view" default="" label="Detail Column 3" description="Detail Column 3 description"/>
		<param name="detail_column_4" type="cmmembercolumn" columntype="view" default="" label="Detail Column 4" description="Detail Column 4 description"/>
		<param name="detail_column_5" type="cmmembercolumn" columntype="view" default="" label="Detail Column 5" description="Detail olumn 5 description"/>
		<param name="detail_column_6" type="cmmembercolumn" columntype="view" default="" label="Detail Column 6" description="Detail Column 6 description"/>
		<param name="detail_column_7" type="cmmembercolumn" columntype="view" default="" label="Detail Column 7" description="Detail Column 7 description"/>
		<param name="detail_column_8" type="cmmembercolumn" columntype="view" default="" label="Detail Column 8" description="Detail Column 8 description"/>
		<param name="detail_column_9" type="cmmembercolumn" columntype="view" default="" label="Detail Column 9" description="Detail Column 9 description"/>
		<param name="detail_column_10" type="cmmembercolumn" columntype="view" default="" label="Detail Column 10" description="Detail Column 10 description"/>
		<param name="detail_member_title" type="text" default="" label="Detail Member Title" description="Detail Member Title DESCRIPTION"/>
		<param name="detail_member_column_1" type="cmmembercolumn" columntype="view" default="" label="Detail Membership Column 1" description="Detail Membership Column 1 description"/>
		<param name="detail_member_column_2" type="cmmembercolumn" columntype="view" default="" label="Detail Membership Column 2" description="Detail Membership Column 2 description"/>
		<param name="detail_member_column_3" type="cmmembercolumn" columntype="view" default="" label="Detail Membership Column 3" description="Detail Membership Column 3 description"/>
		<param name="detail_member_column_4" type="cmmembercolumn" columntype="view" default="" label="Detail Membership Column 4" description="Detail Membership Column 4 description"/>
		<param name="detail_member_column_5" type="cmmembercolumn" columntype="view" default="" label="Detail Membership Column 5" description="Detail Membership Column 5 description"/>
		<param name="detail_member_sort_column_1" type="cmmembercolumn" columntype="view" default="begin" label="Detail Member Sort Column 1" description="Detail Member Sort Column 1 description"/>
		<param name="detail_member_sort_direction_1" type="radio" default="ASC" label="Detail member Sort direction 1" description="Detail member Sort direction 1 description">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
		<param name="detail_member_sort_column_2" type="cmmembercolumn" columntype="view" default="" label="Detail Member Sort Column 2" description="Detail Member Sort Column 2 description"/>
		<param name="detail_member_sort_direction_2" type="radio" default="ASC" label="Detail member Sort direction 2" description="Detail member Sort direction 2 description">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
		<param name="detail_board_title" type="text" default="" label="Detail Board Title" description="Detail Board Title DESCRIPTION"/>
		<param name="detail_board_column_1" type="cmboardcolumn" columntype="view" default="" label="Detail Board Column 1" description="Detail Board Column 1 description"/>
		<param name="detail_board_column_2" type="cmboardcolumn" columntype="view" default="" label="Detail Board Column 2" description="Detail Board Column 2 description"/>
		<param name="detail_board_column_3" type="cmboardcolumn" columntype="view" default="" label="Detail Board Column 3" description="Detail Board Column 3 description"/>
		<param name="detail_board_column_4" type="cmboardcolumn" columntype="view" default="" label="Detail Board Column 4" description="Detail Board Column 4 description"/>
		<param name="detail_board_column_5" type="cmboardcolumn" columntype="view" default="" label="Detail Board Column 5" description="Detail Board Column 5 description"/>
		<param name="detail_board_sort_column_1" type="cmboardcolumn" columntype="view" default="begin" label="Detail Board Sort Column 1" description="Detail BoardSort Column 1 description"/>
		<param name="detail_board_sort_direction_1" type="radio" default="ASC" label="Detail Board Sort direction 1" description="Detail Board Sort direction 1 description">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
		<param name="detail_board_sort_column_2" type="cmboardcolumn" columntype="view" default="" label="Detail Board Sort Column 2" description="Detail BoardSort Column 2 description"/>
		<param name="detail_board_sort_direction_2" type="radio" default="ASC" label="Detail Board Sort direction 2" description="Detail Board Sort direction 2 description">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
	</params>
</config>