<?xml version="1.0" encoding="utf-8"?>
<config>
	<params addpath="/administrator/components/com_clubmanagement/elements">
		<param name="custom1" type="text" default="Custom field 1" label="CUSTOM 1 LABEL" description="CUSTOM 1 DESCRIPTION"/>
		<param name="custom2" type="text" default="Custom field 2" label="CUSTOM 2 LABEL" description="CUSTOM 2 DESCRIPTION"/>
		<param name="custom3" type="text" default="Custom field 3" label="CUSTOM 3 LABEL" description="CUSTOM 3 DESCRIPTION"/>
		<param name="custom4" type="text" default="Custom field 4" label="CUSTOM 4 LABEL" description="CUSTOM 4 DESCRIPTION"/>
		<param name="custom5" type="text" default="Custom field 5" label="CUSTOM 5 LABEL" description="CUSTOM 5 DESCRIPTION"/>
		<param name="image_dir" type="text" default="/images/member" label="IMAGE DIRECTORY LABEL" description="IMAGE DIRECTORY DESCRIPTION"/>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="member_types" type="text" default="ACTIVE=Active;PASSIVE=Passive;SUPPORTER=Supporter;SPONSOR=Sponsor" label="MEMBERSHIP TYPES LABEL" description="MEMBERSHIP TYPES DESCRIPTION"/>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="board_jobs" type="text" default="PRESIDENT=President;VICEPRESIDENT=Vice-President;TREASURE=Treasure;ACTUARY=Actuary;ASSESSOR=Assessor;CONTROLLER=Controller" label="BOARD JOBS LABEL" description="BOARD JOBS DESCRIPTION"/>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="detail_column_image" type="cmmembercolumn" columntype="view" default="" label="DETAIL IMAGE COLUMN LABEL" description="DETAIL IMAGE COLUMN DESCRIPTION"/>
		<param name="detail_height" type="text" default="400" label="DETAIL HEIGHT LABEL" description="DETAIL HEIGHT DESCRIPTION"/>
		<param name="detail_width" type="text" default="500" label="DETAIL WIDTH LABEL" description="DETAIL WIDTH DESCRIPTION"/>
		<param name="detail_show_label" type="radio" default="0" label="ENABLE DETAIL LABEL" description="ENABLE DETAIL LABEL DESCRIPTION">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="detail_css" type="textarea" default="" label="DETAIL CSS LABEL" description="DETAIL CSS DESCRIPTION" rows="5" cols="50"/>
		<param name="detail_column_1" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 1 LABEL" description="DETAIL COLUMN 1 DESCRIPTION"/>
		<param name="detail_column_2" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 2 LABEL" description="DETAIL COLUMN 2 DESCRIPTION"/>
		<param name="detail_column_3" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 3 LABEL" description="DETAIL COLUMN 3 DESCRIPTION"/>
		<param name="detail_column_4" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 4 LABEL" description="DETAIL COLUMN 4 DESCRIPTION"/>
		<param name="detail_column_5" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 5 LABEL" description="DETAIL COLUMN 5 DESCRIPTION"/>
		<param name="detail_column_6" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 6 LABEL" description="DETAIL COLUMN 6 DESCRIPTION"/>
		<param name="detail_column_7" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 7 LABEL" description="DETAIL COLUMN 7 DESCRIPTION"/>
		<param name="detail_column_8" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 8 LABEL" description="DETAIL COLUMN 8 DESCRIPTION"/>
		<param name="detail_column_9" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 9 LABEL" description="DETAIL COLUMN 9 DESCRIPTION"/>
		<param name="detail_column_10" type="cmpersoncolumn" columntype="view" default="" label="DETAIL COLUMN 10 LABEL" description="DETAIL COLUMN 10 DESCRIPTION"/>
		<param name="detail_member_title" type="text" default="" label="DETAIL MEMBERSHIP TITLE LABEL" description="DETAIL MEMBERSHIP TITLE DESCRIPTION"/>
		<param name="detail_member_column_1" type="cmmembercolumn" columntype="view" default="" label="DETAIL MEMBERSHIP COLUMN 1 LABEL" description="DETAIL MEMBERSHIP COLUMN 1 DESCRIPTION"/>
		<param name="detail_member_column_2" type="cmmembercolumn" columntype="view" default="" label="DETAIL MEMBERSHIP COLUMN 2 LABEL" description="DETAIL MEMBERSHIP COLUMN 2 DESCRIPTION"/>
		<param name="detail_member_column_3" type="cmmembercolumn" columntype="view" default="" label="DETAIL MEMBERSHIP COLUMN 3 LABEL" description="DETAIL MEMBERSHIP COLUMN 3 DESCRIPTION"/>
		<param name="detail_member_column_4" type="cmmembercolumn" columntype="view" default="" label="DETAIL MEMBERSHIP COLUMN 4 LABEL" description="DETAIL MEMBERSHIP COLUMN 4 DESCRIPTION"/>
		<param name="detail_member_column_5" type="cmmembercolumn" columntype="view" default="" label="DETAIL MEMBERSHIP COLUMN 5 LABEL" description="DETAIL MEMBERSHIP COLUMN 5 DESCRIPTION"/>
		<param name="detail_member_sort_column_1" type="cmmembercolumn" columntype="view" default="begin" label="DETAIL MEMBERSHIP SORT COLUMN 1 LABEL" description="DETAIL MEMBERSHIP SORT COLUMN 1 DESCRIPTION"/>
		<param name="detail_member_sort_direction_1" type="radio" default="ASC" label="DETAIL MEMBERSHIP SORT DIRECTION 1 LABEL" description="DETAIL MEMBERSHIP SORT DIRECTION 1 DESCRIPTION">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
		<param name="detail_member_sort_column_2" type="cmmembercolumn" columntype="view" default="" label="DETAIL MEMBERSHIP SORT COLUMN 2 LABEL" description="DETAIL MEMBERSHIP SORT COLUMN 2 DESCRIPTION"/>
		<param name="detail_member_sort_direction_2" type="radio" default="ASC" label="DETAIL MEMBERSHIP SORT DIRECTION 2 LABEL" description="DETAIL MEMBERSHIP SORT DIRECTION 2 DESCRIPTION">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
		<param name="detail_board_title" type="text" default="" label="DETAIL BOARD TITLE LABEL" description="DETAIL BOARD TITLE DESCRIPTION"/>
		<param name="detail_board_column_1" type="cmboardcolumn" columntype="view" default="" label="DETAIL BOARD COLUMN 1 LABEL" description="DETAIL BOARD COLUMN 1 DESCRIPTION"/>
		<param name="detail_board_column_2" type="cmboardcolumn" columntype="view" default="" label="DETAIL BOARD COLUMN 2 LABEL" description="DETAIL BOARD COLUMN 2 DESCRIPTION"/>
		<param name="detail_board_column_3" type="cmboardcolumn" columntype="view" default="" label="DETAIL BOARD COLUMN 3 LABEL" description="DETAIL BOARD COLUMN 3 DESCRIPTION"/>
		<param name="detail_board_column_4" type="cmboardcolumn" columntype="view" default="" label="DETAIL BOARD COLUMN 4 LABEL" description="DETAIL BOARD COLUMN 4 DESCRIPTION"/>
		<param name="detail_board_column_5" type="cmboardcolumn" columntype="view" default="" label="DETAIL BOARD COLUMN 5 LABEL" description="DETAIL BOARD COLUMN 5 DESCRIPTION"/>
		<param name="detail_board_sort_column_1" type="cmboardcolumn" columntype="view" default="begin" label="DETAIL BOARD SORT COLUMN 1 LABEL" description="DETAIL BOARD SORT COLUMN 1 DESCRIPTION"/>
		<param name="detail_board_sort_direction_1" type="radio" default="ASC" label="DETAIL BOARD SORT DIRECTION 1 LABEL" description="DETAIL BOARD SORT DIRECTION 1 DESCRIPTION">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
		<param name="detail_board_sort_column_2" type="cmboardcolumn" columntype="view" default="" label="DETAIL BOARD SORT COLUMN 2 LABEL" description="DETAIL BOARDSORT COLUMN 2 DESCRIPTION"/>
		<param name="detail_board_sort_direction_2" type="radio" default="ASC" label="DETAIL BOARD SORT DIRECTION 2 LABEL" description="DETAIL BOARD SORT DIRECTION 2 DESCRIPTION">
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</param>
	</params>
</config>